---
// src/components/LanguagePicker.astro
import { languages, languageCodes } from '../i18n/utils';
import type { Lang } from '../lib/types';

interface Props {
  lang: Lang;
  currentPath: string;
}

const { lang, currentPath } = Astro.props;
---

<div class="lang-picker">
  {
    languages.map((l, i) => (
      <>
        {i > 0 && <span class="lang-picker__sep">/</span>}
        <a
          href={`/${l}${currentPath || '/'}`}
          class:list={['lang-picker__link', { 'lang-picker__link--active': l === lang }]}
        >
          {languageCodes[l]}
        </a>
      </>
    ))
  }
</div>
